<section id="edit" class="container">
  <div class="form-wrap">
    <h1>Edit Gig</h1>
    <p>Your contact email will be shared with registered users to apply to your
      gig</p>
    <form id="edit-gig-form">
      <div class="input-group">
        <label for="title">{{title}}</label>
        <input
          type="text"
          name="title"
          id="title"
          class="input-box"
          placeholder="eg. Small Wordpress website, React developer"
          maxlength="100"
          required
        />
      </div>
      <div class="input-group">
        <label for="technologies">{{technologies}}</label>
        <input
          type="text"
          name="technologies"
          id="technologies"
          class="input-box"
          placeholder="eg. javascript, react, PHP"
          maxlength="100"
        />
      </div>
      <div class="input-group">
        <label for="budget">{{budget}}</label>
        <input
          type="number"
          name="budget"
          id="budget"
          class="input-box"
          placeholder="eg. 500, 5000, 10000"
        />
      </div>
      <div class="input-group">
        <label for="description">{{description}}</label>
        <textarea
          name="description"
          id="description"
          class="input-box"
          placeholder="Describe the details of the gig"
          rows="10"
          required
        ></textarea>
      </div>
      <div class="input-group">
        <label for="budget">{{contact_email}}</label>
        <input
          type="email"
          name="contact_email"
          id="contactemail"
          class="input-box"
          placeholder="Enter an email"
          required
        />
      </div>
      <input
        id="form-submit"
        type="submit"
        value="Add Gig"
        class="btn btn-reverse"
      />
    </form>
    <script>
      const form = document.querySelector("#edit-gig-form"); const submit =
      document.querySelector("#form-submit"); submit.addEventListener("click",
      (e) => { e.preventDefault(); console.log(form.nodeValue,
      form.childNodes[1].childNodes[3].value,); const formData = { title:
      form.childNodes[1].childNodes[3].value, technologies:
      form.childNodes[3].childNodes[3].value, budget:
      form.childNodes[5].childNodes[3].value, description:
      form.childNodes[7].childNodes[3].value, contact_email:
      form.childNodes[9].childNodes[3].value, }; console.log(formData);
      fetch("http://localhost:3000/gigs/update", { method:'update', headers:
      {"Content-Type": "application/json"}, body: JSON.stringify(formData), })
      });
    </script>
  </div>
</section>